@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* biome-ignore lint/nursery/noUnknownAtRule: used for theming */
@theme {
  --color-gray-100: #eaeaea;
  --color-gray-200: #a5a5a5;
  --color-gray-300: #2c2c2c;
  --color-light-blue: #269dc9;
  --color-green: #00c968;
  --color-blue: #004282;
  --color-red: #c92626;
  --color-background: var(--color-gray-100);
  --color-header-bg: var(--color-gray-100);
  --color-foreground: var(--color-gray-300);
  --shadow-sm-gray:
    0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-sm-gray-up:
    0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
}

body {
  background: var(--background);
  color: var(--color-foreground);
  font-family: var(--roboto-condensed), Helvetica, sans-serif;
  font-weight: 400;
}
